<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>App</title>
</head>
<body>
    <div class="container mt-2">
    <h3 class="">{{viewTitle}}</h3>
        <form class="form-control form-control-lg" action="/movie" method="POST">
            <input type="hidden" name="_id", value="{{employee._id}}">
            <div class="container mt-2">
                <label for="">Movie title</label>
                <input type="text" name="name" class="form-control" placeholder="Movie title" value="{{movie.name}}">
                <div class="text-danger">
                    {{movie.nameError}}
                </div>
            </div>
            <div class="container mt-2">
                <label for="">Year of release</label>
                <input type="text" name="year" class="form-control"  placeholder="Year of release" value="{{movie.year}}">
                <div class="text-danger">
                    {{movie.yearError}}
                </div>
            </div>
            <div class="container mt-2">
                <label for="">Movie ranking</label>
                <input type="text" name="rating" class="form-control"  placeholder="Movie ranking" value="{{movie.name}}">
                <div class="text-danger">
                    {{movie.ratingError}}
                </div>
            </div>
            <div class="container d-grid gap-2 col-6 mx-auto mt-2">
                <button class= "btn btn-primary "type="submit">Submit</button>
            </div>
            <div class="container d-grid gap-2 col-6 mx-auto mt-2">
            <button class= "btn btn-primary "type="submit"><a href = "movie/list">View all</a></button>
        </div>
        </form>
        
    </div>
</body>